*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* küçük ekrandaki sağ sol iconlar */
.navbar .btn-bars{
    border: none;
    font-size: 1rem;
    background: none;
   
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar > div:nth-child(1){
    display: flex;
    gap: 25px;
    padding: 0 20px;
    font-size: 1.1rem;
    align-items: center;
}
.navbar > div:nth-child(1) button i{
    font-size: 1.2rem;
}
.navbar > div:nth-child(3){
    display: flex;
    gap: 25px;
    padding: 0 20px;
    font-size: 1.1rem;
    align-items: center;
}
.navbar > div:nth-child(3) a:nth-child(2) i{
    font-size: 1.8rem;
}
/* iconların bitimi */
/* collapse navbar */
.navbar-collapse{
    margin-top: 15px;
    background-color: rgb(242,242,242);
    padding: 15px 0;
    height: 100vh;
    overflow-y: scroll;
    
}
@media screen and (min-width:991px) {
    .navbar-collapse{
        height: 0;
        overflow-y: hidden;
        background-color: white;
        margin-top: 0;
        }
        .navbar .nav-item{
            padding: 5px !important ;
            margin: 0;
        
        }
        .navbar .nav-item a:hover{
    color: rgb(138,138,138);
             
}
.navbar .nav-item .nav-link{
    padding-left: 0;
  
}
.last-icons{
    display: flex;
}

        
        
} 

.navbar .nav-item{
    padding: 8px 20px;
    
}
.navbar .nav-item a{
    color: black;

    font-size: 0.9rem;
}
.nav-item button{
    display: inline-block;
    border: none ;
    background: none;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    
}
.drpdwn li a{
    padding: 15px 20px;
    margin: 0;
    color: black;

    font-size: 0.9rem;
    
}
.drpdwn{
    border: none !important;
    background-color: rgb(242,242,242);
    
}
/* last-icons */
.drop-togg{
    font-size: 0.9rem;
    color: black !important;
    padding: 0 20px;
}
.drop-togg:hover{
    color: rgb(138,138,138) !important;
    
}

.last-icons{
    display: flex !important;
    flex-direction: row !important;
    gap: 20px !important;
    align-items: center !important;
    justify-content: center !important;

}

.last-icons div:hover{
    color: rgb(138,138,138) !important;
    
}
@media screen and (max-width:991px){
    .last-icons{
        display: none !important;
    }
    
}
.last-icons > div{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 5px;
}
.last-icons > div a{
    color: black !important;
    font-size: 0.9rem;
}
.last-icons > div:nth-child(3) i{
    font-size: 1.8rem;
    margin-right: 35px;
}
.last-icons > div:nth-child(1) i,
.last-icons > div:nth-child(2) i{
    font-size: 1.1rem;
}
/* last-icons sonu */

/* tüm microsoft */
.drop-menu{
    border:none ;
    background-color: white ;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-top: 0 !important;
    
}

.drop-row{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    
    
}

.drop-row .col-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
}

.drop-row .col-3 a{
    font-size: 0.8rem;
    padding: 5px 0;
    background: none;

}
.drop-row .col-3 h6{
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 20px;
}
.site-map{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
}

/* bitimi */
